<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    Code actuel
   </div>
	</div>
	
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">

    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email address" %>
  </div>

  <div class="form-group">

    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password address" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %> Remeber This ID
   
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>

  </div>
  </div>




